<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/todos" method="post">
    <div>
      title : <input type="text" name="title">
    </div>
    <div>
      content : <input type="text" name="content">
    </div>
    <div>
      <button type="submit">submit</button>
    </div>
  </form>
<% for(var i=0; i<length; i++){ %>
  <div style="border: 1px solid black">
    id : <%= result[i].id%> <br>
    title : <%= result[i].title%> <br>
    content : <%= result[i].content%> <br>
    <button onclick="location.href='/todos/delete/<%= result[i].id%>'">delete</button>
  </div>
 <% } %>
</body>
</html>
